<div infinite-scroll="vm.pagingFunction()" infinite-scroll-distance="0" class="well" infinite-scroll-disabled="vm.noTweets">
    <div class="panel panel-default" ng-repeat="tweet in vm.tweets" id="listTweets">
    <div class="panel-heading">
        <h3 class="panel-title"><b id="title">{{tweet.title}}</b> <i>by {{tweet.author}}, on {{vm.getDate(tweet.date)}}</i></h3>
    </div>
    <div class="panel-body">
        <p style="white-space: pre-line" id="body">{{tweet.body}}</p>
        <div>
            <span style="margin-right: 2em"> <i class="glyphicon glyphicon-thumbs-up"></i> {{tweet.usersWhoLikedCount}}</span>
            <span style="margin-right: 2em"> <i class="glyphicon glyphicon-thumbs-down"></i> {{tweet.usersWhoDislikedCount}}</span>
            <a class="blackAnch" ng-click="vm.collapseComments(tweet)" style="cursor: pointer;">
                <span>Comments</span>
                <span class="badge">{{tweet.commentsCount}}</span>
            </a>

            <div>
                <div uib-collapse="tweet.commentsCollapsed" style="margin-top: 1em">
                    <blockquote style="font-size: 14px" ng-repeat="comment in tweet.comments">
                        <p>{{comment.body}}</p>
                        <footer style="font-size: 14px">{{comment.author}} on <i>{{vm.getDate(comment.date)}}</i></footer>
                    </blockquote>
                    <a class="blackAnch" ng-click="vm.pagingComments(tweet)" style="cursor: pointer;">
                        <span>{{!tweet.noComments ? "Load more comments..." : "No more comments"}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>